.docs {
  .main {
    border-top: 1px solid #d9d9d9;
    display: grid;
    grid-template-columns: 270px 1fr;

    main {
      height: 80vh;
      padding: 45px 100px;
      overflow: auto;

      .internal_link {
        color: #000;
        text-decoration: underline;
        font-weight: 700;
      }
    }
  }
}
