.container{
    display: flex;
    padding: 60px 2.5%;
    justify-content: space-around;
    background-color: #FCFAFF;
    position: relative;
    color: #4D4D4D;
    @media screen and (max-width: 650px) {
        flex-direction: column-reverse;
        padding: 40px 2.5%;
    }
    .content{
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        z-index: 1;
        line-height: 37px;
        .header{
            position: relative;
            font-size: 30px;
            font-weight: 700;
            z-index: 1;
            &::before{
                content: "";
                position: absolute;
                display: block;
                width: 5ch;
                font-size: 30px;
                height: 13px;
                background-color: #C99EFA;
                bottom: 5px;
                z-index: -1;
                left: 1px;
            }
        }
        .details{
            display: flex;
            flex-direction: column;
            gap: 30px;
            font-size: 16px;
        }
    }
    .illustration{
        flex-basis: 40%;
    }
    .biceps{
        position: absolute;
        bottom: 0;
        z-index: 0;
    }
    .leftDots{
        position: absolute;
        left: 0;
        bottom: 30px;
    }
    .rightDots{
        position: absolute;
        right: 0;
        bottom: 30px;
    }
}