@import "../../sass/abstracts/abstract";
.container{
    width: 100%;
    font-size: 16px;
 
    .cards{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    align-items: center;
    justify-content: space-around;
}
}