@import "../../sass/abstracts/abstract";
.container{
    width: 100%;
    .cards{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    align-items: center;
    justify-content: space-around;
}
@media screen and (max-width: 950px) {
    .cards{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}
}
