@import "../../sass/abstracts/abstract";
.container {
  width: 100%;
  --horizontal-padding: 50px;
  padding: 0 var(--horizontal-padding);
  .watermark {
    position: absolute;
    z-index: -99;
    left: 0;
  }
  .leftWatermark {
    position: absolute;
    z-index: -99;
    right: 0;
  }
  .cards {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    z-index: 5;
  }
  @media screen and (max-width: 1080px) {
    .cards {
      display: flex;
      flex-direction: column;
      gap: 50px;
    }
  }

  @media screen and(max-width:650px) {
    --horizontal-padding: 25px;
  }
}
