.card{
    width: 75%;
    margin: auto;    
    h1{
        font-size: 1.25em;
        font-weight: 700;
    }
    p{
        font-size: 14px;
        text-overflow: ellipsis;
        overflow: hidden; 
        height: 3em;
    }
    a{
        text-decoration: underline;
        text-decoration-color: gr;
    }
}