.card{
    width: 75%;
    margin: auto;
    font-size: 16px;
    
    h1{
        font-size: 1.25em;
        font-weight: 700;
    }
    p{
        font-size: 14px;
    }
    a{
        text-decoration: underline;
        text-decoration-color: gr;
    }
}