.nav {
  background-color: #252526;
  padding: 17px;
  border-radius: 8px 0 0 8px;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  color: #ebebeb;
  font-size: 13.5px;
  font-family: "Segoe UI", sans-serif;

  button {
    padding: 3px 4px;
    display: flex;
    gap: 4px;
    align-items: center;
  }
}
