.container {
  display: flex;
  width: 100%;
  position: relative;
  color: #000000;
  padding: 100px 50px;
  gap: 40px;
  @media screen and (max-width: 1070px) {
    flex-direction: column;
  }
  @media screen and (max-width: 650px) {
    padding: 70px 25px;
  }
  justify-content: space-between;
  align-items: center;
  .LeftZigZag {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
  .illustration {
    max-width: 100%;
    height: auto;
  }
  .content {
    .header {
      font-weight: 700;
      font-size: 2em;
      margin-bottom: 8px;
      line-height: 1.1;
    }
    .details {
      line-height: 28px;
      max-width: 600px;
      color: #4d4d4d;
      b {
        font-weight: 600;
        color: #000;
      }
    }
  }
  .RightZigZag {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
}
