.container{
    display: flex;
    width: 100%;
    position: relative;
    color: #000000;
    padding: 60px 2.5%;
    @media screen and (max-width: 650px){
        flex-direction: column;
        padding: 40px 2.5%;
    }
    justify-content: space-around;
    align-items: center;
    .LeftZigZag{
        position: absolute;
        left: 0;
        top: 10px;
        z-index: -1;
    }
    .illustration{
        flex-basis: 40%;
    }
    .content{
        flex-basis: 40%;
        .header{
            font-weight: 700;
            font-size: 35px;
        }
        .details{
            color: #4D4D4D;
            line-height: 30px;
            span{
                font-weight: 600;
                color: #000000;
            }
        }
    }
    .RightZigZag{
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
    }
}