.container{
    padding: 60px 50px;
    font-size: 16px;
    background-color: #FBFDFD;
    position: relative;
    color: #4D4D4D;
    display: flex;
    flex-direction: column;
    gap: 35px;
    .details{
            display: flex;
            flex-direction: column;
            gap: 10px;
        .heading{
            font-weight: 700;
            font-size: 2em;
            color: #000000;
        }
    }
    .watermark{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 250px;
        height: 250px;
        z-index: 0;
    }
    .cards{
        display: flex;
        justify-content: space-around;
        justify-items: flex-start;
        @media screen and (max-width: 650px) {
            flex-direction: column;
            gap: 50px;
        }
    }
    .cta{
        .link{
            text-decoration: underline #058d74;
            color: #058d74;
            cursor: pointer;
            transition: color 350ms ease-in-out;
            &:hover{
            color: #09cda9;
            text-decoration-color: #09cda9;
            }
        }
    }
}