.container {
  --vertical-padding: 100px;
  --horizontal-padding: 50px;
  padding: var(--vertical-padding) var(--horizontal-padding);
  font-size: 16px;
  background-color: #fbfdfd;
  position: relative;
  color: #4d4d4d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 35px;
}

@media screen and (max-width: 650px) {
  .container {
    padding: 70px 25px;
  }
}

.container .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  z-index: 1;
}

.container .details .heading {
  font-weight: 700;
  font-size: 2em;
  color: #000000;
}

.container .details .detail {
  max-width: 700px;
  line-height: 28px;
}

.container .watermark {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 250px;
  height: 250px;
  z-index: 0;
  animation: skew 4s ease infinite alternate-reverse;
}

@-webkit-keyframes skew {
  from {
    -webkit-transform: skew(0deg, 0deg);
            transform: skew(0deg, 0deg);
  }
  to {
    -webkit-transform: skew(30deg, -30deg);
            transform: skew(30deg, -30deg);
  }
}

@keyframes skew {
  from {
    -webkit-transform: skew(0deg, 0deg);
            transform: skew(0deg, 0deg);
  }
  to {
    -webkit-transform: skew(30deg, -30deg);
            transform: skew(30deg, -30deg);
  }
}

.container .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-items: flex-start;
  z-index: 1;
}

@media screen and (max-width: 1130px) {
  .container .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.container .cta {
  z-index: 1;
  margin-top: 28px;
}

.container .cta .link {
  text-decoration: underline;
  color: #058d74;
  cursor: pointer;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.container .cta .link:hover {
  color: #09cda9;
}

.container .block1 {
  position: absolute;
  bottom: 20px;
  left: 20%;
  animation: move 4s ease infinite alternate-reverse;
}

@media screen and (max-width: 650px) {
  .container .block1 {
    scale: 0.5;
  }
}

.container .block2 {
  position: absolute;
  right: 20%;
  bottom: 20px;
  animation: move 4s ease infinite alternate-reverse;
}

@media screen and (max-width: 650px) {
  .container .block2 {
    scale: 0.5;
  }
}

.container .block3 {
  position: absolute;
  left: 47%;
  bottom: 50px;
  animation: move 4s ease infinite alternate-reverse;
}

@media screen and (max-width: 650px) {
  .container .block3 {
    scale: 0.5;
  }
}

@-webkit-keyframes move {
  from {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  to {
    -webkit-transform: translate(30px, -30px);
            transform: translate(30px, -30px);
  }
}

@keyframes move {
  from {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  to {
    -webkit-transform: translate(30px, -30px);
            transform: translate(30px, -30px);
  }
}
/*# sourceMappingURL=index.module.css.map */