.header {
  display: flex;
  flex-direction: column;
  flex: 1 0% 0%;
  width: 100%;
  align-items: center;
  justify-content: center;
  div {
    position: relative;
        border-radius: 999px;
    h1 {
      font-size: 34px;
      font-weight: 700;
    }
  }
  p{
    width: calc(6/12 * 100%);
  }
}
