        .json {
            background-color: #008f75;
            border: 2px solid #008f75;
            width: fit-content;
            color: white;
        }
                a {
                    padding: 0.5em 2.2em;
                    border-radius: 9999px;
                    font-weight: 700;
                    font-size: 1em;
                }