.container {
  display: flex;
  position: relative;
  --vertical-padding: 100px;
  --horizontal-padding: 50px;
  padding: var(--vertical-padding) var(--horizontal-padding);
  width: 100%;
  overflow-x: hidden;
  @media screen and (max-width: 1070px) {
    flex-direction: column-reverse;
    gap: 50px;
  }
  @media screen and (max-width: 650px) {
    padding: 70px 25px;
  }

  justify-content: space-between;
  gap: 40px;
  align-items: center;
  background-color: #fcfaff;
  .content {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media screen and (max-width: 650px) {
      gap: 5px;
    }
    .header {
      font-size: 2em;
      font-weight: 700;
      span {
        color: #9d50f6;
      }
    }
    .details {
      display: flex;
      flex-direction: column;
      gap: 30px;
      line-height: 28px;
      color: #4d4d4d;
      b {
        color: #000000;
      }
    }
  }
  .illustration {
    flex-basis: 50%;
    z-index: 1;
    @media screen and (max-width: 650px) {
      width: 100%;
    }
  }
  .rightBlurBlob {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
  }
}
