@font-face {
  font-family: "Scandia";
  src: url("./assets/fonts/Scandia-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Scandia";
  src: url("./assets/fonts/Scandia-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Scandia";
  src: url("./assets/fonts/Scandia-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Scandia";
  src: url("./assets/fonts/Scandia-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Consolas";
  src: url("./assets/fonts/CONSOLA.TTF") format("truetype");
  font-weight: 400;
  font-style: normal;
}

:root {
  --primary-color: #9d50f6;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Scandia, sans-serif;
}
