.nav {
  padding: 25px 50px;
  display: flex;
  justify-content: space-between;

  gap: 15px;
  svg {
    width: 170px;
  }

  ul {
    display: none;
  }

  .menuBtnContainer {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    cursor: pointer;
    .menuBtn {
      width: 24px;
      height: 3px;
      background-color: #545454;
      border-radius: 999px;
    }
    &::before,
    &::after {
      content: "";
      display: inline-block;
      width: 28px;
      height: 3px;
      border-radius: 999px;
      background-color: #545454;
    }
  }
}

@media screen and(max-width:650px) {
  .nav {
    padding: 25px 20px;
  }
}

@media screen and (min-width: 1024px) {
  .nav {
    align-items: center;
    .menuBtnContainer {
      display: none;
    }
    ul {
      list-style-type: none;
      display: flex;
      align-items: center;
      gap: 40px;
    }
  }
}
