.copy {
  all: unset;
  --size: 30px;
  --gray: #a6a6a6;
  display: inline-block;
  cursor: pointer;
  width: var(--size);
  height: var(--size);
  border-radius: 4px;
  border: 1px solid var(--gray);
  transition: all 0.3s;

  &:hover {
    --gray: #fff;
  }

  &::before,
  &::after {
    content: "";
    --offset: 3px;
    width: 14px;
    height: 16px;
    border: 2px solid var(--gray);
    position: absolute;
    left: calc(50% + (var(--offset)) / 2);
    top: calc(50% + (var(--offset)) / 2);
    transform: translate(-50%, -50%);
    border-radius: 2px;
    transition: all 0.3s;
  }

  &::after {
    border-right-color: transparent;
    border-bottom-color: transparent;
    left: 50%;
    top: 50%;
    left: calc(50% - (var(--offset)) / 2);
    top: calc(50% - (var(--offset)) / 2);
  }
}
