on:
  fork:
  push:
    branches: [main]
  issues:
    types: [opened]
  issue_comment:
    types: [created]
  pull_request_target:
    types: [opened]
  pull_request_review_comment:
    types: [created]

jobs:
  welcome:
    runs-on: ubuntu-latest
    steps:
     - uses: cinotify/github-action@main
       with:
          to: 'udochukwukaonyela@gmail.com'
          subject: 'Attention needed'
          body: 'This is a notification from GitHub actions.'
